[Unit]
Description=Xcape

[Service]
ExecStart=/usr/bin/xcape -e 'Control_L=Escape';/usr/bin/setxkbmap -option ctrl:nocaps

[Install]
WantedBy=user-applications.target

