! Base16 Default Dark
! Scheme: Chris Kempson (http://chriskempson.com)

! base16-default-dark
! #define base00 #181818
! #define base01 #282828
! #define base02 #383838
! #define base03 #585858
! #define base04 #b8b8b8
! #define base05 #d8d8d8
! #define base06 #e8e8e8
! #define base07 #f8f8f8
! #define base08 #ab4642
! #define base09 #dc9656
! #define base0A #f7ca88
! #define base0B #a1b56c
! #define base0C #86c1b9
! #define base0D #7cafc2
! #define base0E #ba8baf
! #define base0F #a16946

! elly theme from: https://github.com/ulwlu/elly.vim
#define base00 #111a1f
#define base01 #797E80
#define base02 #8D7856
#define base03 #738C9C
#define base04 #738C9C
#define base05 #8D7856
#define base06 #810002
#define base07 #798362
#define base08 #8D7856
#define base09 #9B9257
#define base0A #8D7856
#define base0B #6998B3
#define base0C #9B9257
#define base0D #3E4B59
#define base0E #2D3640
#define base0F #c0c7ca

*foreground:   base0F
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base0F

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

XTerm.vt100.faceName: Tamzen:size=14:antialias=false
XTerm.vt100.font: 7x13
XTerm*ptyInitialErase: true
